name: Build & Deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cargo-bins/cargo-binstall@main
    - name: Install Cargo Lambda
      run: cargo binstall cargo-lambda --no-confirm
    - name: Install Zig
      run: sudo snap install zig --classic --beta
    - uses: pnpm/action-setup@v4
      with:
        version: 8
    - name: Build Backend
      run: cargo lambda build --release -o zip --manifest-path="backend/Cargo.toml"
    - name: Build Frontend
      run: pnpm install -C "plugin" && pnpm run -C "plugin" build
    - name: Deploy using Terraform
      env: 
        HMAC_SECRET: ${{ secrets.HMAC_SECRET }}
        AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
        AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      run: cd terraform && terraform apply -auto-approve
      
